# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Build artifacts
build/
dist/
*.spec

# OS-specific junk
.DS_Store
Thumbs.db

# IDEs / Editors
.vscode/
.idea/

# Logs
*.log
